{% extends 'base.html' %}
{% load static %}

{% block title %}

OSHARI ITNS | Premium Urban Fashion

{% endblock %}

{% block content %}

{% include 'home/sections/hero.html' %}
{% include 'home/sections/new_drops.html' %}

{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_drops.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

{% endblock %}