{% load static %}

<section class="brand-story">

    <div class="container">

        <div class="story-wrapper">

            <!-- LEFT -->
            <div class="story-content">

                <span class="section-tag">
                    OUR STORY
                </span>

                <h2>
                    More Than Clothing.<br>
                    A Lifestyle.
                </h2>

                <p>
                    OSHARI ITNS was created for people who believe confidence starts with what they wear. We blend premium quality, modern streetwear and timeless design into pieces made for everyday confidence.
                </p>

                <!-- Mobile Slider -->

                <div class="mobile-slider">

                    <div class="mobile-track">

                        <img src="{% static 'images/bs1.JPG' %}" alt="">
                        <img src="{% static 'images/bs2.JPG' %}" alt="">

                    </div>

                    <div class="overlay">

                        <h3>
                            Built for those who own their style.
                        </h3>

                    </div>

                </div>

                <p>
                    Every collection is designed to help you stand out effortlessly while remaining comfortable, versatile and undeniably stylish.
                </p>

            </div>

            <!-- RIGHT -->

            <div class="story-image">

                <div class="story-track">

                    <img src="{% static 'images/bs1.JPG' %}" alt="">
                    <img src="{% static 'images/bs2.JPG' %}" alt="">

                </div>

            </div>

        </div>

    </div>

</section>