{% load static %}
{% load price_filters %}

<section class="new-drops">

    <div class="container">

        <!-- Section Header -->

        <div class="section-header">

            <span class="section-tag">
                NEW ARRIVALS
            </span>

            <h2>
                New Drops
            </h2>

            <p>
                Discover the latest streetwear pieces crafted for confidence, comfort, and everyday style.
            </p>

        </div>

        <!-- Products -->

        <div class="products-grid">

            {% for product in new_drops %}

            <a href="{% url 'product_detail' product.pk %}" class="product-card-link">

                <article class="product-card">

                    <div class="product-image">

                        <span class="drop-badge">
                            NEW
                        </span>

                        <img src="{{ product.image.url }}" alt="{{ product.name }}">

                    </div>

                    <div class="product-info">

                        <h3>{{ product.name }}</h3>

                        <p class="product-description">
                            {{ product.description|truncatewords:10 }}
                        </p>

                        <div class="product-bottom">

                            <span class="price">
                                ₦{{ product.price|naira }}
                            </span>

                            <span class="view-btn">

                                View

                                <i data-lucide="arrow-right"></i>

                            </span>

                        </div>

                    </div>

                </article>

            </a>

            {% empty %}

                <p>No products available yet.</p>

            {% endfor %}

        </div>

        
        <!-- View All -->

        <div class="view-all-wrapper">

            <a href="{% url 'shop' %}" class="btn btn-primary">

                View All Drops

            </a>

        </div>

    </div>

</section>