{% extends "base.html" %}

{% block content %}

<section class="success-page">

    <div class="container">

        <h1>❌ Payment Failed</h1>

        <p>
            Unfortunately, your payment failed.
        </p>

        <p>

            Order Number:
            <strong>{{ order.order_number }}</strong>

        </p>

        <a
            href="{% url 'shop' %}"
            class="btn btn-primary"
        >
            Continue Shopping
        </a>

    </div>

</section>

{% endblock %}